.Container_Card_Section {
  .Heading {
    font-weight: 900;
    text-align: center;
    color: #002333;
  }
  .underLine {
    width: 100px;
    background-color: #002333;
    height: 3px;
    margin: auto;
  }
}
