.Footer_Container {
  background-color: #002333;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 90px;
  .HeadinG_Foter {
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 23px;
    font-weight: 600;
    color: white;
  }
  .link {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-bottom: 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #00ff84;
    }
  }
  .InputBox {
    width: 90%;
    height: 45px;
    border-radius: 10px;
    background-color: #003a55;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .Input_Email {
    background-color: transparent;
    font-size: 14px;
    padding-left: 10px;
    border: none;
    width: 300px;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .COntact_text {
    color: white;
    font-size: 14px;
  }
  @media only screen and (max-width: 1429px) {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    .HeadinG_Foter {
      font-size: 25px;
    }
  }
  .Copy_Right {
    margin-top: 35px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #00ff84;
  }
}
