@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "GT Walsheim Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.btn_Green {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  background-color: #003a55;
  color: white;
  &:active {
    border: 1px solid #003a55;
    background-color: white;
    color: #002333;
  }
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 25px;
  text-decoration: none;
  text-align: center;

  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
  border: none;
}
.chips_ {
  width: 100%;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px !important;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  border-bottom: 1px solid #d2d2d2;

  .circleProfile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title_ {
    color: white;
  }
  .desc {
    color: white;
  }
}

.Line_bottom {
  width: 165px;
  height: 2px;
  background-color: #002333;
  margin: auto;
}
.chips_:hover {
  width: 100%;
  height: 70px;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px !important;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  background-color: #003a55;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  .circleProfile {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: black;
  }
  .title_ {
    color: white;
  }
  .desc {
    color: white;
  }
}

.react-calendar {
  width: 100% !important;
  position: absolute !important;
}
.btn_Header_Green {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  background-color: white;
  color: #003a55;

  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 25px;
  text-decoration: none;
  text-align: center;

  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
  border: none;
}
.Outline_Btn {
  color: #003a55;
  background-color: white;
  padding: 10px 30px;
  border: 1px solid #003a55;
  outline: none;

  &:active {
    background-color: #003a55;
    color: white;
    border: 1px solid white;
  }
}

.dark_btn {
  background-color: #003a55;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  outline: none;

  &:active {
    color: #003a55;
    background-color: white;
    padding: 10px 30px;
    border: 1px solid #003a55;
  }
}

.TOP_HEader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0px 25px;

  .Link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: none;
  }

  .Profile_box {
    width: 35px;
    height: 35px;
    background-color: #002333;
    border-radius: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
}

.Postion_Bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.6rem 2.4rem;
  background: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.08), 0 -4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_Green_Large_Size {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  background-color: #003a55;
  color: #3e2b2b;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 85px;
  text-decoration: none;
  text-align: center;

  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
  border: none;
  color: white;
}

.Outline_large_btn {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #003a55 !important;
  margin-top: 10px;
  color: #003a55;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 85px;
  text-decoration: none;
  text-align: center;
  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
  border: none;

  &:active {
    background-color: #002333;
    color: white;
  }
}

.Input_large {
}

.btn_Green_Large_Size_Disabled {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  background-color: #d5e0d5;
  color: white;

  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 85px;
  text-decoration: none;
  text-align: center;

  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
  border: none;
  color: black;
}

.Header_ {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  height: 5.6rem;
  align-items: center;
  padding: 0 2.4rem;
  border-bottom: 2px solid #003a55;

  z-index: 1010;

  .title_ {
    font-size: 35px;
    font-weight: 800;
    color: black;
    @media only screen and (max-width: 990px) {
      margin-left: 35px;
    }
  }
}

.row {
  margin-right: 0px !important;
}

.btn_Green_Size_Full {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  background-color: #003a55;
  color: white;

  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 0;
  width: 100%;
  text-decoration: none;
  text-align: center;

  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
  border: none;
}
.btn_Green_Size_Full_outline {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  border: 2px solid #003a55 !important;
  color: #003a55;

  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 0;
  width: 100%;
  text-decoration: none;
  text-align: center;

  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
}
.btn_Green_Size_Full_Disabled {
  font-family: "GT Walsheim Pro", Arial, sans-serif;
  font-size: 13px;
  background-color: #003a55;

  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 0;
  width: 100%;
  text-decoration: none;
  text-align: center;

  transition: all 200ms ease-in-out 0s;
  cursor: pointer;
  border: none;
  color: black;
}

@media only screen and (max-width: 993px) {
  .btn_Green_Large_Size_Disabled {
    width: 100% !important;
  }

  .btn_Green_Large_Size {
    width: 100% !important;
  }
}

.google-button {
  width: 100%;
  background-color: #4285f4;
  color: #fff;
  height: 50px;
  padding: 0 5px;
  display: flex;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 25px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.Aple-button {
  width: 100%;
  color: black;
  height: 50px;
  padding: 0 5px;
  display: flex;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 25px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1xg9z9n).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: #ffffff;
  width: 375px;
  height: 50px;
  margin-bottom: 12px;
}

@font-face {
  font-family: "popins";
  src: url("../Font/Poppins/Poppins-Regular.ttf") format("woff");
}

* {
  font-family: "popins";
}

.HoobbyLand_Title {
  font-size: 40px;
  font-weight: 900;
  color: #002333;
  line-height: 40px;
}

.errTimezoneInput {
  width: 100%;
  height: 45px;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  border: 1px solid red;

  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.label_Input {
  font-size: 12px;
  padding: 0px 0px 2px 2px;
}

.Input {
  width: 100% !important;
  height: 45px;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.Input_dark {
  width: 100%;
  height: 45px;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  border: 1px solid #003a55;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.Input_dark_text_area {
  width: 100%;
  height: 90px;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  border: 1px solid #003a55;
  outline: none;
  border-radius: 5px;
  gap: 25px;
}
.Input_dark_text_area_err {
  width: 100%;
  height: 90px;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  border: 1px solid red;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.Input_Large {
  width: 100%;
  height: 85px;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.card1 {
  width: 100% !important;
  background-color: white;
  box-shadow: 3px 3px 5px 1px rgb(216, 216, 216);
  padding: 8px;
  border-radius: 8px;
  padding: 30px 25px;
}

.card2 {
  width: 100% !important;
  background-color: white;
  box-shadow: 3px 3px 5px 1px rgb(216, 216, 216);
  padding: 8px;
  border-radius: 8px;
  padding: 30px 25px;
  height: 85vh;
  overflow-y: scroll;
}

.chips {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #003a55;
  cursor: pointer;
  border: 1.5px solid #003a55;
  padding: 0px 25px;

  .chips_title {
    font-size: 19px;
    color: #003a55;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1024px) {
  .chips {
    .chips_title {
      font-size: 15px;
    }
  }
}

.Icon {
  font-size: 25px;
  cursor: pointer;
  color: #002333;
}

.Top_Bare {
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  height: 5.6rem;
  padding: 0 2.4rem;
  align-items: center;
  z-index: 1010;
  flex-wrap: wrap;

  .title_ {
    font-size: 26px;
    font-weight: 800;
    color: black;
    cursor: pointer;
  }

  @media only screen and (max-width: 989px) {
    margin-top: 65px;

    .title_ {
      font-size: 16px;
    }

    .active {
      font-size: 16px !important;
    }
  }

  .active {
    font-size: 26px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid #003a55;
  }
}

.bottom_not {
  height: 120px;
}

.TOP_HEader {
  height: 85px;
  gap: 20px;
  padding: 0px 25px;

  .Link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: none;
  }

  .Profile_box {
    width: 35px;
    height: 35px;
    background-color: #002333;
    border-radius: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
  }
}

//// switch
/// //
/* CSS for switch */
.icon_din {
  position: absolute;
  right: 10px;
  top: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #002333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #002333;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.Radio_acpeter {
  accent-color: #002333;
}
