.Marketing_place_container {
  .card {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: static;
    box-shadow: 3px 3px 5px 1px rgb(216, 216, 216);
  }

  .TableColoumn_size {
    width: 400px;
    padding: 20px 10px;
    border: 1px solid black;
  }
}