.Navebar_Container {
  flex: 1;
  width: 100% !important;
  height: 80px;
  transition: top 0.3s ease;

  margin: auto;
  display: flex;
  padding: 16px 20px;
  z-index: 1;
  position: fixed;
  top: 0px;
  z-index: 999;
  max-width: 100%;
  background-color: #003a55;
  border-bottom: 2px solid white;
  min-height: 59px;
  align-items: center;
  justify-content: space-between;

  .Left_Section {
    gap: 15px;
    display: flex;
    align-items: center;

    .Link_Navigation {
      font-size: 17px;
      font-weight: 600;
      color: white;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid white;
      }
    }

    .Title_Navebar {
      font-size: 35px;
      font-weight: 800;
      line-height: 30px;
      color: white;
      cursor: pointer;
    }
  }

  .flex_display {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .BottonUserProfile {
    width: 50px;
    // margin-right: 15px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    font-weight: 600;
  }

  .MenueIcon {
    display: none;
  }

  .SideBarContainer {
    display: none;
  }

  .Right_Section {
    display: flex;
    align-items: center;

    .Input_serch {
      width: 400px;
      margin-right: 20px;
      border: none;
      outline: none;
      background-color: white;

      @media only screen and (max-width: 1321px) {
        display: none;
      }

      padding: 5px;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
    }

    .SignIn {
      display: flex;
      align-items: center;
      gap: 13px;
      color: white;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .Link_Navigation_Container {
    padding-top: 50px;
  }

  .Responsive_Navigation_link {
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: #002333;
    display: block;
    padding: 16px 0px;
    border-bottom: solid 1px #dcdee1;
  }

  @media only screen and (max-width: 600px) {
    .Link_Navigation {
      display: none;
    }

    .Left_Section {
      .Title_Navebar {
        font-size: 30px;
      }
    }

    .flex_display {
      display: flex;
      gap: 15px;
      align-items: center;
    }

    .SideBarContainer {
      display: block;
      width: 70%;
      background-color: white;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      transition: left 0.5s ease;
      padding: 20px;
    }

    .MenueIcon {
      display: block;
    }

    .Right_Section {
      display: flex;
      align-items: center;

      .SignIn {
        display: none;
      }
    }
  }
}

.emptybox {
  width: 100% !important;
  height: 80px;
}

@media only screen and (max-width:794px) {
  .SignIn {
    display: none;
  }

  .Link_Navigation {
    display: none;
  }
}


.content_input {
  display: none;
}

@media only screen and (max-width: 1321px) {
  .content_input {
    display: block;
    background-color: #002333;
    padding: 10px;
    text-align: center;

    .Input_serch {
      width: 80%;
      margin-right: 20px;
      border: none;
      outline: none;
      background-color: white;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
    }
  }
}