.sideBare_main {
  height: 100%;

  .border_Circle {
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #003a55;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 20px;

    .MenueBare {
    }
  }

  .SideBare__container {
    width: 275px;
    background-color: #002333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    z-index: 1;
    height: 100% !important;
    position: absolute;
    transition: margin-left 0.35s, margin-right 0.35s, box-shadow 0.075s,
      transform 0.15s, width 0.35s, z-index 0s ease 0.35s;
    .SideBare__title {
      font-size: 40px;
      font-weight: 800;
      color: white;
      line-height: 44px;
    }

    .Link_NavigationBox {
      width: 100% !important;
      background-color: #003a55;
      height: 45px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px;
      margin-top: 12px;

      .title {
        font-size: 18px;
        font-weight: 700;
        color: white !important;
        text-decoration: none !important;
      }
    }
  }

  .SideBarePosition {
    width: 275px;
    background-color: #002333;

    top: 0px;
    left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    height: 100% !important;
    transition: margin-left 0.35s, margin-right 0.35s, box-shadow 0.075s,
      transform 0.15s, width 0.35s, z-index 0s ease 0.35s;

    .SideBare__title {
      font-size: 40px;
      font-weight: 800;
      color: white;
      line-height: 44px;
    }

    .Link_NavigationBox {
      width: 100% !important;
      background-color: #003a55;
      height: 45px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px;
      margin-top: 12px;

      .title {
        font-size: 18px;
        font-weight: 700;
        color: white !important;
        text-decoration: none !important;
      }
    }
  }

  .Icon {
    cursor: pointer;
  }

  .SideBarehalf {
    width: 75px !important;
    background-color: #002333;
    border-top-right-radius: 10px;
    height: 100% !important;
    border-bottom-right-radius: 10px;
    padding: 20px;
    transition: margin-left 0.35s, margin-right 0.35s, box-shadow 0.075s,
      transform 0.15s, width 0.35s, z-index 0s ease 0.35s;
    .SideBare__title {
      font-size: 40px;
      font-weight: 800;
      color: white;
      display: none;

      line-height: 44px;
    }

    .Link_NavigationBox {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: #003a55;
      padding: 10px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 10px;
      margin-top: 12px;

      .title {
        display: none;
      }
    }
  }
}

.User_profile_Container {
  width: auto;
  .SideBare {
    width: 250px;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #002333;
    }

    @media only screen and (max-width: 990px) {
      position: absolute;
      transition: margin-left 0.35s, margin-right 0.35s, box-shadow 0.075s,
        transform 0.15s, width 0.35s, z-index 0s ease 0.35s;
    }

    padding: 10px;
    overflow-y: scroll;
    background-color: #002333;
    border-top-right-radius: 8px;
    height: 100%;
    border-bottom-right-radius: 8px;

    .User_Profile_Circle {
      width: 150px;
      height: 150px;
      border: 1px solid white;
      background-color: white;
      border-radius: 50%;
      margin: auto;
      cursor: pointer;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      color: black;
      margin-bottom: 10px;
      text-transform: uppercase;
      .InputNone {
        display: none;
      }
    }

    .Heading {
      font-size: 22px;
      font-weight: 600;
      color: white;
      text-align: center;
    }

    .desc {
      font-size: 15px;
      color: black;
      text-align: center;
      color: white;

      padding: 10px;
    }

    .Button {
      width: 100%;
      height: 50px;
      display: flex;
      border: 1px solid white;
      margin-top: 10px;
      align-items: center;
      justify-content: center;
      color: white;

      &:active {
        background-color: white;
        color: black;
      }
    }
  }
}

.layot_admin {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
}
.profile_Container {
  width: 100%;
  height: 100%;
}
.width_main_ {
  width: 75px;

  @media only screen and (max-width: 990px) {
    width: 0px;
  }
}
.massage_sideBare {
  width: 300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #002333;
  display: flex;
  padding-left: 08px;
  padding-right: 08px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  height: 100%;
}
.massage_sideBare_relative {
  width: 300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #002333;
  display: flex;
  padding-left: 08px;
  padding-right: 08px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 2;
  position: absolute;
  height: 100%;
}
.circle_menue {
  display: none;
}
.circle_menue_open {
  display: none;
}
@media only screen and (max-width: 990px) {
  .circle_menue_open {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 12px;
    background-color: #002333;
    position: absolute;
    right: 12px;
    z-index: 3;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle_menue {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.title_hobblyland {
  font-size: 48px;
  color: white;
  line-height: 50px;
  font-weight: 800;
}
.Header_Top {
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  border-bottom: 2px solid #002333;
  align-items: center;
  padding-left: 25px;
  .circle_box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002333;
  }
  .title_ {
    font-size: 30px;
    margin-left: 20px;
    color: #002333;
  }
}
.bottom {
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
}
.MassageBox {
  width: 100%;
  background-color: transparent;
  overflow-y: auto;
  background-color: white !important;
  height: 80%;
}
