.Tools_container {
  .card_Tools {
    color: #2d2f31 !important;
    display: block;
    height: 100%;
    padding: 3.2rem;
    border: 1px solid #d1d7dc;
    transition: 1s all ease-in-out;
    &:hover {
      background-color: #d1d7dc;
    }
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    .heading {
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0;
      font-size: 18px;
      margin: 14px 0px;
    }

    .dsc {
      text-align: center;
    }
  }
  .Container__text_video_question {
    max-width: 45.6rem;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .Video_width {
    width: 800px;
    height: 800px;
    @media only screen and (max-width: 989px) {
      width: 80%;
      height: 160px;
      margin: 20px auto;
    }
  }
}
