.hero_Section_Container {
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 35, 51, 0.9) 100%,
      rgba(0, 0, 0, 0.5) 0%
    ),
    url("../../Assests/images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px;
  .Hero_Title {
    font-size: 56px;
    font-weight: 800;
    color: white;
    width: 600px;
    line-height: 60px;
  }
  .content_hero {
    width: 500px;
    color: rgb(237, 221, 221);
    padding-top: 10px;
  }
  @media only screen and (max-width: 600px) {
    .Hero_Title {
      width: 335px;
    }
    .content_hero {
      width: 335px;
    }
  }
  @media only screen and (max-width: 1024px) {
    width: 100%;

    padding: 100px;
  }
  @media only screen and (max-width: 914px) {
    width: 100%;

    .Hero_Title {
      width: 500px;
    }
    .content_hero {
      width: 400px;
    }
  }

  @media only screen and (max-width: 540px) {
    padding: 20px;
    padding-top: 120px;

    .Hero_Title {
      width: 335px;
    }
    .content_hero {
      width: 335px;
    }
  }
  @media only screen and (max-width: 414px) {
    .content_hero {
      width: 335px;
    }
  }
  @media only screen and (max-width: 740px) {
    .content_hero {
      width: 335px;
    }
  }
}
